# IntelliJ
.idea
*.iml
target

# Eclipse
.metadata
.settings
.classpath
.project
bin
tmp

# Ignore everything that isn't job.j2 or build
.openshift-applier/params/mongo-seed/*
!.openshift-applier/params/mongo-seed/build
!.openshift-applier/params/mongo-seed/job.j2

.openshift-applier/roles
.openshift-applier/*.retry
